.Card {
  margin-bottom: 1rem;
}

.Card__row,
.Card__row--failed {
  display: flex;
}

.Card__row--penalties span {
  line-height: 2rem;
  padding-left: 0.5rem;
}

.Card__box--failed {
  border: 1px solid black;
  padding: 0 0.5rem;
  font-size: 1rem;
}

