.Die {
  flex-basis: 100px;
} 
.Die i {
  color: lightgrey;
  font-size: 80px;
}
.Die-white i {
  color: lightgrey !important;
}
.Die-yellow i {
	color: gold !important;
}
.shake {
	animation: shake 0.5s infinite;
}
@keyframes shake {
	0% {
		transform: rotate(8deg);
	}
	50% {
		transform: rotate(-8deg);
	}
	100% {
		transform: rotate(8deg);
	}
}