.StartGameForm {
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}

.StartGameForm-input {
  width: 30rem; 
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1rem;
}

.StartGameForm-input label {
  flex-basis: 50%;
  display: block;
  text-align: left;
  line-height: 2rem;
}

.StartGameForm-input input {
  flex-basis: 50%;
  display: block;
  line-height: 2rem;
}
