.StartGameForm {
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  text-align: center;
}

.StartGameForm-input {
  width: 13rem; 
  margin: 0 auto 1rem;
}

.StartGameForm-input label {
  display: block;
  text-align: center;
  line-height: 2rem;
}

.StartGameForm-input input {
  display: block;
  line-height: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}
